html, body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
}

#choose {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  background-color: #1e1e1e;
  color:#fff;
}

#chooseDiv {
  width:50%;
  margin:auto;
  text-align:center;
  padding-top:15%;
}

.styled-select select {
   background: transparent;
   width: 315px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
}

.styled-select {
   width: 300px;
   height: 34px;
   overflow: hidden;
   background: url(arrow_select.jpg) no-repeat right #ddd;
   border: 1px solid #ccc;
   margin:auto;
   margin-bottom:-33px;
}

#searchIcon
{
  margin-left:350px;
}


#Infos {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  background-color: #fff;
  color:#000;
}

#mapa {
  width:100%;
  max-height:300px;
  margin-top:30px;
}

.panel {
    margin-bottom: 21px;
    background-color: #FFF;
    border: 1px solid transparent;
    border-radius: 0px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-default {
    border-color: #DDD;
    width:80%;
    margin:auto;
    margin-top:20px;
    margin-bottom:10px;
}

.panel-title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 17px;
    color: inherit;
}

element {
    position: relative;
}

#mapa {
    width: 100%;
    height: 300px;
    margin-top: 10px;
}
.leaflet-container {
    font: 12px/1.5 "Helvetica Neue",Arial,Helvetica,sans-serif;
}
.leaflet-container {
    background: #DDD none repeat scroll 0% 0%;
    outline: 0px none;
}
.leaflet-container {
    cursor: grab;
}
.leaflet-container {
    overflow: hidden;
}

.label-danger {
    background-color: #FF0039;
}

.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #FFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #F5F5F5;
    border-color: #DDD;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
}

.panel-body {
    padding: 10px 15px;
}

#head {
  height:300px;
  width:80%;
  margin:auto;
  overflow:hidden;
}

.hacklogo
{
  float:left;
  margin-top:20px;
  width:50%;
  max-height:300px;
}

#head .page-header {
  float:left;
  width:40%;
  margin-top:150px;
  margin-left:-20px;
}

#head .page-header h1 {
  margin-bottom:-20px;
}

.label-success {
    background-color: #3FB618;
}

.alert {
    border: medium none;
}
.alert-warning {
    background-color: #FF7518;
    border-color: #FF4309;
    color: #FFF;
}
.alert-dismissable, .alert-dismissible {
    padding-right: 35px;
}
.alert {
    padding: 15px;
    margin-bottom: 21px;
    border: 1px solid transparent;
    border-radius: 0px;
}

.close:hover, .close:focus {
    opacity: 1;
}
.close:hover, .close:focus {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
}
.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}

button.close {
    padding: 0px;
    cursor: pointer;
    background: transparent none repeat scroll 0% 0%;
    border: 0px none;
}
.close {
    text-decoration: none;
    text-shadow: none;
    opacity: 0.4;
}

.close {
    float: right;
    font-size: 22.5px;
    font-weight: bold;
    line-height: 1;
    color: #FFF;
    text-shadow: 0px 1px 0px #FFF;
    opacity: 0.2;
    margin-right:20px;
}
